

:root {
	--primary-color: #5F259F; /* Define a root variable for primary color */
	--secondory-color : #fff; /* Define a root variable for sec color */
	--orenge-color : #FFC425; /* Define a root variable for sec color */
	--dark-color :#0D1033; /* Define a root variable for sec color */
	--black-color :#000; /* Define a root variable for sec color */

	--non-active: #FBF6FF;

	
  
  }

  body{

	background-color: #000 !important;
  }

.first_section{

	
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: auto;
	background-color: #000;
	
}

.tt-heading-title{

	color: #fff !important;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Header styles */
header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: background-color 0.5s ease-in-out;
  }
  
  @media only screen and (min-device-width: 1200px) {


	.hero_top{

		padding: 0% 18%;
		padding-top: 5%;

		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	.main-hero-div{

		width: 100%;
		height: 450px;
		border-radius: 20px;
	}
	.img-header{

		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}


	.para-header{
		font-size: calc(2px + 2.5vw);
		font-weight: 700;
		opacity: 0.35;
		margin-top: 5%;
	} 

	.btn_for_join{

		padding: 2% 0;
		display: flex;
		gap: 10px;
	}

	.join_btn{


		padding: 1.5% 3%;
		border: solid #ffb30f 1px;
		color:#ffb30f ;
		font-weight: 700;
		width: fit-content;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.secndbtn{

		border: solid #25ff30 1px;
		color:#25ff30 ;
	
	}

	.instbtn{

		border: solid #fff 1px;
		








	
	}


	/* footer section */




  }


@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {


	.hero_top{

		padding: 0% 18%;
		padding-top: 5%;

		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	.main-hero-div{

		width: 100%;
		height: 450px;
		border-radius: 20px;
	}
	.img-header{

		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}


	.para-header{
		font-size: calc(2px + 2.5vw);
		font-weight: 700;
		opacity: 0.35;
		margin-top: 5%;
	} 

	.btn_for_join{

		padding: 2% 0;
		display: flex;
		gap: 10px;
	}

	.join_btn{


		padding: 1.5% 3%;
		border: solid #ffb30f 1px;
		color:#ffb30f ;
		font-weight: 700;
		width: fit-content;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.secndbtn{

		border: solid #25ff30 1px;
		color:#25ff30 ;
	
	}

	.instbtn{

		border: solid #fff 1px;
		
	}


}

@media only screen and (min-width: 768px) and (max-width:991px ){


	.hero_top{

		padding: 0% 5%;
		padding-top: 10%;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	.main-hero-div{

		width: 100%;
		height: 450px;
		border-radius: 20px;
	}
	.img-header{

		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}


	.para-header{
		font-size: calc(2px + 2.5vw);
		font-weight: 700;
		opacity: 0.35;
		margin-top: 5%;
	} 

	.btn_for_join{

		padding: 2% 0;
		display: flex;
		gap: 10px;
	}

	.join_btn{


		padding: 1.5% 3%;
		border: solid #ffb30f 1px;
		color:#ffb30f ;
		font-weight: 700;
		width: fit-content;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.secndbtn{

		border: solid #25ff30 1px;
		color:#25ff30 ;
	
	}

	.instbtn{

		border: solid #fff 1px;
		
	}

}

@media only screen and (max-width: 767px){


	.hero_top{

		padding: 0% 5%;
		padding-top: 20%;

		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	.main-hero-div{

		width: 100%;
		height: 450px;
		border-radius: 20px;
	}
	.img-header{

		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}


	.para-header{
		font-size: calc(5px + 5.5vw);
		font-weight: 700;
		opacity: 0.35;
		margin-top: 5%;
	} 

	.btn_for_join{

		padding: 2% 0;
		display: flex;
		gap: 10px;
		flex-direction: column;
	}

	.join_btn{


		padding: 4% 3%;
		border: solid #ffb30f 1px;
		color:#ffb30f ;
		font-weight: 700;
		width: 100%;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.secndbtn{

		border: solid #25ff30 1px;
		color:#25ff30 ;
	
	}

	.instbtn{

		border: solid #fff 1px;
		
	}
}